#header-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    font-family: var(--main-font), serif;
    width: 100%;
    height:fit-content;
    background: #dfdfdf;
    overflow: hidden;
    border-right: thick solid var(--main-color);
}

#navbar {
    background-color: var(--main-color);
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    margin: auto;
    font-size: 4vw;
    font-family: "Zilla Slab", serif;
}

ul.nav {
    background-color: #dfdfdf;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

li.nav {
    padding: 10px 0px 10px 0px;
    background: transparent;

}

@keyframes navtext {
    from {color:var(--main-color);}
    to {color:white;}
}

@keyframes navbox {
    from {background-color: var(--gray-color);}
    to {background-color: var(--main-color);}
}

a:hover > li.nav {
    animation: navtext 0.33s;
    color:white;
}


a.nav {
    color: var(--main-color);
    padding: 10px 10px 10px 10px;
    font-size: 3vmin;
    display: flex;
    align-content: center;
}

a.nav:link {
    text-decoration: none;
}

a.nav:active {
    text-decoration: none;
    
}

a.nav:hover {
    animation: navbox 0.33s;
    background-color: var(--main-color);
}

#name_shape {
    clip-path: polygon(0px 0px, 85% 0, 100% 100%,  0 100%);
    shape-outside: polygon(0px 0px, 85% 0, 100% 100%,  0 100%);
    background: var(--main-color);
    width: auto;
    height: fit-content;
    padding-right: 7vw;
    padding-left: 1vw;
    float: left;
    display: flex;
    align-content: center;
}


